.menu-bar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  align-items: center;
  border-bottom: 1px solid rgb(32, 31, 31);
  margin-bottom: 20px;
  padding-bottom: 10px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
}

.menu-bar__icons img {
  width: 25px;
  margin-right: 10px;
}

.menu-bar__menu {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.menu-bar__menu img {
  width: 25px;
}
